body {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    /*This font works!*/
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#mainheader {
    background-color: lightblue;
    margin: 0 auto 20px;
}

nav {
    height: 60px;
    width: 500px;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
    overflow: hidden;
}

nav>ul>ol {
    float: left;
}

nav>ul>ol a {
    display: block;
    text-align: left;
    padding: 1px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

ul>ol {
    float: left;
}

ol a {
    display: block;
    text-align: left;
    padding: 1px;
    text-decoration: none;
}

#leftmenu {
    float: left;
    margin-left: auto;
    margin-bottom: auto;
    width: 20%;
    margin-bottom: 20px
}

#main {
    float: right;
    width: 80%;
    margin-bottom: 20px;
}

#footer {
    font-size: smaller;
}