body {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    /*This font works!*/
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

mainheader {
    background-color: lightblue;
    margin: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
}

mainheader img {
    text-align: left;
    float: left;
    padding-left: 1px;
    font-family: 'Roboto', sans-serif;
}

leftmenu {
    float: left;
    width: 20%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

main {
    float: right;
    width: 80%;
    margin-left: auto;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

footer {
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
}